form > div > p,
form > div > div > p {
  color: #1c1c1c;
}

form > div > input,
form > div > div > input {
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  background: #f7fafc;
  margin-top: 4px;
  padding: 8px;
}

form > div > input:hover,
form > div > div > input:hover {
  border: 1px solid #0067ff;
  background: #f7fafc;
}
